/*media sizes: 1600,1366 1024, 800, 480 (px)*/




@media (max-width: 1600px){
   .header-top-contacts{
      padding: 0px 100px;
   }
   .main{
      margin-top: 200px;
   }
   .footer-content-content .logo{
      width: 20%;
      height: 100%;
   }
}
@media (max-width: 1366px){
   .header-top-contacts{
      padding: 0px 50px;
   }
   .footer-content-content .logo{
      width: 20%;
      height: 90%;
   }
}
@media (max-width: 1024px){
   .header-top-contacts{
      padding: 0;
   }
   .header-top-contacts p{
      font-size: 20px;
   }
   .footer{
      width: 100%;
      height: 320px;
      margin-top: 4780px;
      background-color: #FFC43D;
      position: absolute;
      text-align: center;
   }
   .text_information{
      height: 550px;
   }
   .footer-content-content .info{
      padding-top: 0;
   }
   .footer-content{
      height: 85%;
   }
   .footer-content-content{
      height: 210px;
      padding-top: 5%;
   }
}

@media (max-width: 768px){

   .header-top-contacts p{
      font-size: 15px;
   }
   .header-top-contacts img{
      width: 15px;
      height: 15px;
   }
   .block-2{
      flex-wrap: wrap;
      height: 900px;
   }
   .footer{
      margin-top: 6080px;
      height: 340px;
      width: 100%;
   }
   .footer-content-content{
      height: 280px;
   }
   .footer-content-content .logo{
      height: 50%;
   }
   .footer-content-content .info{
      height: 220px;
      font-size: 20px;
   }
   .slider .slick-arrow.slick-prev,
   .slider .slick-arrow.slick-next{
      display: none;
   }
   .slider img{
      width: 550px;
   }
   .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
   }
   .header__burger:before,
   .header__burger:after{
      content: '';
      background: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
   }
   .header__burger:before{
      top: 0;
   }
   .header__burger:after{
      bottom: 0;
   }
   .header__burger span{
      position: absolute;
      background: #000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
   }
   .navigation{
       position: relative;
       top: -100%;
       left: -50px;
       height: 100%;
       width: 100%;
       background: #E2AD32;
       z-index: 3;
   }
   .header-top{
      position: relative;
      z-index: 3;
   }
   .header-content{
      background-color: #E2AD32;
       height: 135px;
       width: 100%;
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       -ms-align-items: center;
       align-items: center;
       justify-content: space-between;
}
   .header-content-menu{
      display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       -ms-align-items: center;
       align-items: center;
       text-align: center;
       justify-content: space-between;
       width: 85%;
       height: 0px;
       top: 130px;
       left: 10px;
       position: absolute;
   }

   .header__burger{
      display: block;
       position: relative;
       width: 30px;
       height: 20px;
       position: relative;
       left: 0;
   }

   .header__burger.active:before{
      transform: rotate(45deg);
      top: 9px;
      transition: all .3s ease 0s;
   }

   .header__burger.active:after{
      transform: rotate(-45deg);
      bottom: 9px;
      transition: all .3s ease 0s;
   }
   .header__burger.active span{
      transform: scale(0);
      transition: all .3s ease 0s;

   }
   .logo{
      position: absolute;
      z-index: 3;
   }


   .header__burger{
      display: block;
       position: relative;
       width: 30px;
       height: 20px;
       position: absolute;
       left: 650px;
}


.navigation{
   position: absolute;
    top: -300px;
    left: -70px;
    height: 225px;
    width: 773px;
    background-color: #E2AD32;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition: all .3s ease 0s;
   overflow: auto;
}
   .navigation:hover::after{
      text-decoration: none;
   }
   .navigation.active{
      top: 70px;
   }
      .slides p{
      font-size: 36px;
   }
   .slider{
      position: inherit;
   }
}

@media (max-width: 480px){
   .navigation{
      width: 490px;
   }
   .header__burger{
      left: 400px;
   }
   .line{
      width: 330px;
   }
   .main-content h2{
      font-size: 36px;
   }
   .main-content p{
      width: 390px;
      padding-top: 20px;
      margin-top: 0;
   }
   .slider .slick-dots li{
      margin: 10px 0 0 30px;
   }
   .slider img{
      width: 375px;
      height: 350px;
      margin: -20 0 0 -20px;
   }
   .slick-list{
      height: 350px;
   }
   .footer{
      margin-top: 6490px;
      height: 235px;
   }
   .footer-content{
      height: 200px;
   }

   .footer-content-content .info{
      font-size: 16px;
      height: 125px;
      width: 220px;
      margin-left: 0;
   }
   .footer-content-content .logo{
      width: 20%;
      height: 40%;
   }
   .footer-content-content .logo_name{
      font-size: 20px;
      margin: 0 0 0 90px;
   }
   .footer-content-content{
      height: 130px;
   }
   .slider .slick-arrow.slick-prev{
      display: none;
   }
   .slider .slick-arrow.slick-next{
      height: 100%;
   }
   .header-top-contacts img{
      width: 19px;
   }
   .header-top-contacts{
      width: 300px;
      flex-wrap: wrap;
      margin-left: 10%;
   }
}



@media (max-width: 320px){

   .header{
      height: 125px;
   }
   .header-content{
      height: 55px;
   }
   .navigation{
      width: 319px;
      top: -300px;
       left: -60px;
       height: 225px;
      font-size: 24px;
   }
   .header__burger{
      display: block;
       position: relative;
       width: 30px;
       height: 20px;
       position: absolute;
       left: 250px;
   }
   .logo img{
      width: 50px;
      height: 50px;
   }
   .logo h1{
      font-size: 20px;
   }
   .header__burger{
      left: 220px;
   }
   .header-content-menu{
      top: 95px;
   }
   .header-content-menu .logo{
      width: 200px;
   }
   .navigation.active{
      top: 25px;
   }
   .main{
      margin-top: 120px;
   }
   .main-content h2{
      font-size: 28px;
   }
   .line{
      width: 200px;
   }
   .main-content p{
      width: 255px;
   }
   .slider img{
      width: 245px;
      height: 255px;
   }
   .slick-list{
      width: 260px;
   }
   .slider .slick-dots li{
      margin: 10px 0 0 15px;
   }
   .block-2 .one, .two, .three{
      width: 250px;
   }
   .block-2 p{
      width: 250px;
      font-size: 28px;
   }
   .zag{
      font-size: 36px;
   }
   .slides p{
      font-size: 30px;
      padding: 60px 15px;
   }
   .slide-5{
      height: 270px;
   }
   .slide-2{
      height: 245px;
   }
   .header-top-contacts{
      width: 245px;
       flex-wrap: wrap;
       margin: 0px 0px 0 10px;
       gap: 2px;
   }
   .header-top-contacts img{
      display: none;
   }
   .slider .slick-arrow.slick-prev, .slider .slick-arrow.slick-next{
      visibility: hidden;
   }
   .slides{
      height: 1630px;
   }

   .footer{
      margin-top: 5850px;
   }
   .footer-top-socials p{
      font-size: 15px;
   }
   .footer-top{
      height: 30px;
   }
   .footer-top-socials img{
      width: 20px;
      height: 20px;
   }
   .footer-content-content .logo{
      height: 30%;
      margin-left: -5%;
   }
   .footer-content-content .logo_name{
      padding: 0;
      margin: 0 0 0 45px;
   }
   .footer-content-content .info{
      font-size: 12px;
       height: 130px;
       width: 386px;
       margin-left: 4%;
   }
   .footer-content-content{
      height: 160px;
   }
   .zag{
      font-size: 30px;
   }
   .text_information{
      font-size: 24px;
   }





























}
